{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

<div id="home">

    <a href="{{ path('shop') }}">
        <div>
            <img src="{{ asset('img/category/all.jpg') }}" alt="All" />
            <h3>All</h3>
        </div>
    </a>

    {% for category in categories %}
        <a href="{{ path('shop', {'category[0]' : category.id}) }}">
            <div>
                <img src="{{ asset('img/category/' ~ "%03d"|format(category.id) ~ '.jpg') }}" alt="{{ category.name }}" />
                <h3>{{ category.name }}</h3>
            </div>
        </a>
    {% endfor %}

</div>

{% endblock %}
