{% extends 'base.html.twig' %}

{% block body %}
<div id="market">
    <h2>{{ title }}</h2>
    <p>All results gathered from eBay API</p>
    <p class="terms">Search term: "{{ search }}"</p>

    {% if response.searchResult is defined %}
        {% for item in response.searchResult.item %}
            <div class="ebay">
                <a href="{{ item.viewItemURL }}" target="_blank">
                    <img src="{{ item.galleryURL }}" alt="{{ item.title }}" />
                </a>
                <p><a href="{{ item.viewItemURL }}" target="_blank">{{ item.title }}</a></p>
                <p><b>Price: </b>&dollar;{{ item.sellingStatus.currentPrice|number_format(2, '.', ',') }}</p>
                <p><b>Condition: </b>{{ item.condition.conditionDisplayName }}</p>
                <p><b>Location: </b>{{ item.location }}</p>
                <p><b>Shipping: </b>{{ item.shippingInfo.shippingType }}</p>
                <p><b>Ships To: </b>{{ item.shippingInfo.shipToLocations }}</p>
                <p><b>One Day Shipping: </b>{% if item.shippingInfo.oneDayShippingAvailable %}Yes{% else %}No{% endif %}</p>
                <p>{% if item.subtitle is defined %} {{ item.subtitle }} {% endif %}</p>
            </div>
        {% endfor %}
    {% endif %}
</div>
{% endblock %}
