<div id="sidebar-active">
    <ul>
    {% if search %}
        <li><a href="{{ path('shop') }}"><b>&#10005; Search: </b>{{ search }}</a></li>
    {% endif %}

    {% for type, values in links.filters %}
        {% for val in values %}
            {% if val.active %}
                <li><a href="{{ val.url }}"><b>&#10005; {{ type|capitalize }}: </b>{{ val.text }}</a></li>
            {% endif %}
        {% endfor %}
    {% endfor %}
    </ul>
</div>
