{% extends 'base.html.twig' %}

{% block title %}Store{% endblock %}

{% block body %}
<div id="sidebar">
    {{ include('shop/_filters_active.html.twig') }}
    {{ include('shop/_filters_inactive.html.twig') }}
</div>

<div id="products">
    {% for flash_message in app.session.flashBag.get('order') %}
        <p class="flash">{{ flash_message }}</p>
    {% endfor %}
    <h4>{{ count }} Product{% if count != 1 %}s{% endif %}</h4>

    {% if products %}
        {{ include('shop/_sort.html.twig') }}
        {{ include('shop/_pages.html.twig') }}
        {{ include('shop/_products.html.twig') }}
        {{ include('shop/_pages.html.twig') }}
    {% endif %}
</div>
{% endblock %}
