{% extends 'base.html.twig' %}

{% block title %}Store{% endblock %}

{% block body %}
<div id="sidebar">
    <div id="sidebar-active">
        <ul>
        {% for type, values in options.filters %}
            {% for val in values %}
                {% if val.active %}
                    <li><a href="{{ val.url }}"><b>❌ {{ type|capitalize }}: </b>{{ val.name }}</a></li>
                {% endif %}
            {% endfor %}
        {% endfor %}
        </ul>
    </div>

    {% for type, values in options.filters %}
        {% if values|length > 1 %}
            <p>{{ type|capitalize }}</p>
            <ul>
            {% for val in values %}
                {% if not val.active %}
                    <li><a href="{{ val.url }}">{{ val.name }}</a></li>
                {% endif %}
            {% endfor %}
            </ul>
        {% endif %}
    {% endfor %}
</div>

<div id="products">
    {% for flash_message in app.session.flashBag.get('order') %}
        <p class="flash">{{ flash_message }}</p>
    {% endfor %}
    <h4>{{ count }} Product{% if count != 1 %}s{% endif %}</h4>

    {% if products %}
        <p class="sort">
            <b>Sort:</b> 
            {% for title, link in options.sort %}
                {% if link %}
                    <a href="{{ link }}">{{ title }}</a>
                {% else %}
                    <span>{{ title }}</span>
                {% endif %} 
            {% endfor %}
        </p>

        {% if options.page|length > 1 %}
            <p class="pages">
                {% for title, link in options.page %}
                    {% if link %}
                        <a href="{{ link }}">{{ title }}</a>
                    {% else %}
                        <span>{{ title }}</span>
                    {% endif %} 
                {% endfor %}
            </p>
        {% endif %}


        {% for product in products %}
            <div class="product">
                <a href="{{ path('product', {'id' : product.id}) }}">
                    <img 
                        src="{{ asset('img/product/' ~ "%03d"|format(product.id) ~ '.jpg') }}" 
                        alt="{{ product.name }}" 
                    />
                    <p class="name">{{ product.name }}</p>
                    <p><b>&pound;{{ (product.price / 100)|number_format(2, '.', ',') }}</b></p>
                </a>
                {% if product.productGroup %}
                    {% for productInGroup in product.productGroup.products %}
                        <a class="group {{ productInGroup.colour.name|lower }} {% if product.id == productInGroup.id %}current{% endif %}" 
                            href="{{ path('product', {'id' : product.id}) }}" 
                            title="{{ productInGroup.colour.name }}">
                        </a>
                    {% endfor %}
                {% endif %}
            </div>
        {% endfor %}

        {% if options.page|length > 1 %}
            <p class="pages">
                {% for title, link in options.page %}
                    {% if link %}
                        <a href="{{ link }}">{{ title }}</a>
                    {% else %}
                        <span>{{ title }}</span>
                    {% endif %} 
                {% endfor %}
            </p>
        {% endif %}
    {% endif %}
</div>
{% endblock %}
