<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{% block title %}Store{% endblock %} | Clothes Shop</title>
{% block stylesheets %}
<link href="{{ asset('css/style.css') }}" rel="stylesheet" />
{% endblock %}
</head>

<body>
<div id="container">
<div id="header" class="clearfix">
    <div id="header-left">
        <h1><a href="{{ path('home') }}">Clothes Shop</a></h1>
    </div>

    <div id="header-right">
        <p>
            <b>Hello, </b>
            {% if is_granted('ROLE_USER') %}
                {{ app.user.email }}
            {% else %}
                Guest
            {% endif %}
        </p>
        <p>
            <a class="basket" href="{{ path('basket') }}">
                {% if app.session.get('basket') %}
                    {{ app.session.get('basket')|reduce((carry, v) => carry + v) }}
                {% else %}
                    0
                {% endif %}
                Items
            </a> |
            {% if is_granted('ROLE_USER') %}
                <a href="{{ path('logout') }}">Logout</a>
            {% else %}
                <a href="{{ path('login') }}">Login</a> |
                <a href="{{ path('register') }}">Register</a>
            {% endif %}
        </p>
    </div>
</div>

<div id="search" class="clearfix">
    <div id="search-form" class="clearfix">
        <form action="{{ path('search') }}" method="post" name="search">
            <input type="text" name="search[terms]" placeholder="Hooded Jacket" />
            <input type="hidden" name="search[_token]" value="{{ csrf_token('search-form') }}" />
            <button type="submit" name="search[submit]">Search</button>
        </form>
    </div>
</div>

<div id="nav" class="clearfix">
    <ul id="nav-header">
        <li>Menu <span>&#9776;</span></li>
    </ul>
    <ul id="nav-links">
        <li><a class="all" href="{{ path('shop') }}">All</a></li>
        {% for category in categories %}
            <li>
                <a class="{{ category.name|lower }}" href="{{ path('shop', {'category': category.id}) }}">{{ category.name }}</a>
            </li>
        {% endfor %}
    </ul>
</div>

<div id="main" class="clearfix">
{% block body %}{% endblock %}
</div>

<div id="footer">
    <ul>
        <li><a class="about" href="{{ path('about') }}">About</a></li>
        <li><a class="privacy" href="{{ path('privacy') }}">Privacy</a></li>
        <li><a class="faq" href="{{ path('faq') }}">FAQ</a></li>
        <li><a class="delivery" href="{{ path('delivery') }}">Delivery</a></li>
        <li><a class="terms" href="{{ path('terms') }}">Terms & Conditions</a></li>
        <li><a class="returns" href="{{ path('returns') }}">Returns</a></li>
    </ul>

    <p>Clothes Shop &copy; {{ "now"|date("Y") }}</p>
</div>

</div>

{% block javascripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js"></script>

<script>
$(document).ready(function() {
    // collapse nav bar and filter list on mobile
    if (window.innerWidth < 1200) {
        $('#nav-links, #sidebar ul').hide();
    }
    
    // toggle nav nvar
    $('#nav-header').click(function() {
        $('#nav-links').toggle();
    });

    // toggle filter list
    $('#sidebar p').click(function() {
        var filter = $(this).attr('class');
        $('ul.' + filter).toggle();
    });
}); 
</script>
{% endblock %}
</body>
</html>
