<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{% block title %}Store{% endblock %} | Clothes Shop</title>
{% block stylesheets %}
<link href="{{ asset('css/style.css') }}" rel="stylesheet" />
{% endblock %}
</head>

<body>
<div id="container">
<div id="header" class="clearfix">
    <div id="header-left">
        <h1><a href="{{ path('home') }}">Clothes Shop</a></h1>
    </div>
    <div id="header-right">
        {% if is_granted('ROLE_USER') %}
            <p><b>Hello,</b> {{ app.user.email }}</p>
            <p><a href="{{ path('logout') }}">Logout</a></p> 
        {% else %}
            <p><b>Hello,</b> Guest</p>
            <p>
                <a href="{{ path('login') }}">Login</a> | 
                <a href="{{ path('register') }}">Register</a>
            </p>          
        {% endif %}
        <p>
            <a class="basket" href="{{ path('basket') }}">
                 {% if app.session.get('basket_count') %}
                    {{ app.session.get('basket_count') }} Item{% if app.session.get('basket_count') > 1 %}s{% endif %}
                 {% else %}
                    0 Items
                 {% endif %}
            </a>
        </p>
    </div>
</div>

<div id="nav" class="clearfix">
    <ul id="nav-header">
        <li>Menu <span>&#9776;</span></li>
    </ul>
    <ul id="nav-links">
        <li><a href="{{ path('shop') }}">All</a></li>
        {% for category in categories %}
            <li><a href="{{ path('shop', {'category': category.id}) }}">{{ category.name }}</a></li>
        {% endfor %}
    </ul>
</div>

<div id="main" class="clearfix">
{% block body %}{% endblock %}
</div>

<div id="footer">
    <ul>
        <li><a href="{{ path('about') }}">About</a></li>
        <li><a href="{{ path('privacy') }}">Privacy</a></li>
        <li><a href="{{ path('faq') }}">FAQ</a></li>
        <li><a href="{{ path('delivery') }}">Delivery</a></li>
        <li><a href="{{ path('terms') }}">Terms & Conditions</a></li>
        <li><a href="{{ path('returns') }}">Returns</a></li>
    </ul>

    <p>Clothes Shop &copy; {{ "now"|date("Y") }}</p>
</div>

</div>

{% block javascripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js"></script>

<script>
$(document).ready(function(){
    $('#nav-header').click(function() {
        $('#nav-links').toggle();
    });
}); 
</script>
{% endblock %}
</body>
</html>
