{% extends 'base.html.twig' %}

{% block title %}Basket{% endblock %}

{% block body %}
<div id="basket">
    <h2>Basket</h2>

    {% if items %}
        {% for flash_message in app.session.flashBag.get('basket') %}
            <p class="flash">{{ flash_message }}</p>
        {% endfor %}

        <p class="count">
        You have {{ app.session.get('basket_count') }} Item{% if app.session.get('basket_count') > 1 %}s{% endif %}
        </p>

        <table>
            <tr>
                <th colspan="2">Item</th>
                <th>Size</th>
                <th>Stock</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Sub Total</th>
                <th>Remove</th>
            </tr>
            {% for item in items %}
            <tr>
                <td>
                    <a href="{{ path('product', {'id' : item.product_id}) }}">
                        <img src="{{ asset('img/product/' ~ "%03d"|format(item.product_id) ~ '.jpg') }}" 
                            alt="{{ item.name }}" 
                        />
                    </a>
                </td>
                <td class="name">{{ item.name }}</td>
                <td>{{ item.size }}</td>
                <td>{{ item.stock }}</td>
                <td>&pound;{{ (item.price / 100)|number_format(2, '.', ',') }}</td>
                <td>{{ item.quantity }}</td>
                <td>&pound;{{ (item.subtotal / 100)|number_format(2, '.', ',') }}</td>
                <td><a class="remove" href="{{ path('remove', {'id' : item.id }) }}">❌</a></td>
            </tr>
            {% endfor %}
            <tr>
                <th colspan="6"><a class="empty" href="{{ path('empty') }}"><button>Empty Basket</button></a></th>
                <th class="total">&pound;{{ (total / 100)|number_format(2, '.', ',') }}</th>
            </tr>
        </table>

        <a href="{{ path('checkout') }}"><button>Checkout</button></a>
    {% else %}
        <p class="empty">Your shopping basket is empty</p>
    {% endif %}
</div>
{% endblock %}
